	<style>
		.playlist-row{
			border-bottom: 2px solid transparent;
		}
	</style>
	<div class="row mt-1">
		<div class="col-xs mr-2">
			<app-playlists-list [selected]="selected" [playlists]="playlists" (selected)=" select($event) "></app-playlists-list>

			<div class="form-group">
				<button class="btn btn-success float-xs-right" (click)="createNew($event)">New playlist</button>
			</div>
		</div>
		<div class="col-xs-6">

			<div [ngSwitch]="mode">
				<app-content-card title="Playlist" *ngSwitchDefault>
					<p>Choose <b>playlist</b></p>
				</app-content-card>

				<app-content-card title="{{ selected.name }} playlist" *ngSwitchCase="'selected'">
					<app-playlist-detail [playlist]="selected" (editplaylist)="edit($event)"></app-playlist-detail>
				</app-content-card>	

				<app-content-card title="{{ selected.name }} playlist editor" *ngSwitchCase="'edit'">
					<app-playlist-form [playlist]="edited" (saved)="save($event)" ></app-playlist-form>
				</app-content-card>	
			</div>
		</div>
	</div>